<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ProxyCredential:UseProxy" value="false" />
    <add key="ProxyCredential:UserName" value="username" />
    <add key="ProxyCredential:Password" value="pwd" />
    <add key="ProxyCredential:Address" value="ip or address:8080 (port)" />

    <add key="Shopify:ApiKey" value="example api key: 7e894b0a6a19e47261a706d34c58c545" />
    <add key="Shopify:MyShopifyUrl" value="https://duarti.myshopify.com" />

    <add key="GetProduct:MaxDegreeOfParallelism" value="5" />
    <add key="UpdateProduct:MaxDegreeOfParallelism" value="5" />
    <add key="UpdateShopifyProduct:MaxDegreeOfParallelism" value="-1" />
  </appSettings>
  <connectionStrings>
    <!--<add name="alishop" connectionString="data source=isaacultura.com,523;initial catalog=alishop;persist security info=True;user id=stock_automation;password=@zeus14051992@;connection timeout=240;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="alishop" connectionString="data source=.\;initial catalog=alishop;integrated security=true;persist security info=True;connection timeout=240;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true" />
  </system.net>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
